[project]
	description = The Allowance Android Application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jmicco
	labelAs-Code-Review = -2..+2 group user/nrook-google
[access "refs/for/refs/*"]
	read = group user/jmicco
	read = group user/nrook-google
	push = group user/jmicco
	push = group user/nrook-google
	label-Code-Review = -2..+2 group user/jmicco
	label-Code-Review = -2..+2 group user/nrook-google
	label-Verified = -1..+1 group user/jmicco
	label-Verified = -1..+1 group user/nrook-google
	rebase = group user/jmicco
	rebase = group user/nrook-google
	removeReviewer = group user/jmicco
	removeReviewer = group user/nrook-google
	submit = group user/jmicco
	submit = group user/nrook-google
	labelAs-Code-Review = -2..+2 group user/nrook-google
[access "refs/heads/*"]
	read = group user/jmicco
	read = group user/nrook-google
	create = group user/jmicco
	create = group user/nrook-google
	push = +force group user/jmicco
	push = group user/nrook-google
	pushMerge = group user/jmicco
	pushMerge = group user/nrook-google
	labelAs-Code-Review = -2..+2 group user/nrook-google
	submit = group user/nrook-google
[access "refs/tags/*"]
	push = +force group user/jmicco
	push = group user/nrook-google
	pushTag = group user/jmicco
	pushTag = group user/nrook-google
	pushSignedTag = group user/jmicco
	pushSignedTag = group user/nrook-google
	labelAs-Code-Review = -2..+2 group user/nrook-google
